<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


          <h3><%= bookdetails.title %></h3>
          <img src="<%= bookdetails.image_url %>">
          <h3><%= bookdetails.publication_year %></h3>
          <p><%= bookdetails.description %></p>



<%- include('../partials/footer') %>
