<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="item">
  <div class="ui transparent icon input">
    <form action="/search" method="post">
      <input type="text" name="book" value="" placeholder="Book Title or Author">
          <i class="search icon"></i>
      <input type="submit">

    </form>
  </div>
</div>

  <div class="ui link cards">
    <% bookresult.forEach(function(book) { %>
          <div class="card">
            <div class="image">
              <a id="<%= book.best_book.id._ %>" href="/book">
            </div>
            <div class="content">
              <%= book.best_book.title %>
            </div>
                <img class="book-result" src="<%= book.best_book.image_url %>">
            </a>
        </div>
          <% }); %>
  </div>



  <%- include('../partials/footer') %>
