<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
  <div class="ui link cards right-side">
    <% bookresult.forEach(function(book) { %>
          <div class="card">
            <div class="image">
              <a id="<%= book.best_book.id._ %>" href="/book">
            </div>
            <div class="content">
              <%= book.best_book.title %>
            </div>
                <img class="book-result" src="<%= book.best_book.image_url %>">
            </a>
        </div>
          <% }); %>
  </div>



  <%- include('../partials/footer') %>
